Flask
flask-socketio
python-socketio
python-engineio
python-dateutil
pytz
numpy
pandas
cryptography
requests
Werkzeug
Jinja2
itsdangerous
click
colorama
schedule
APScheduler
nsepython
pandas-ta
newspaper3k
vaderSentiment
yfinance
ollama
python-dotenv
BeautifulSoup4
scikit-learn
